@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Roboto&display=swap');
:root {
    --primary-color: #0074D9;
    --secondary-color: #f0f0f0;
    --accent1-color: #2ECC40;
    --accent2-colo: #FF851B;

    --heading-font: 'Montserrat Subrayada', serif;
    --paragraph-font: Roboto, serif;

    --nav-background-color: #87ceeb;
    --nav-link-color: #FFFFFF;
    --nav-hover-link-color: #1e90ff;
    --nav-hover-background-color: #add8e6;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}