/* Apply a CSS Reset for consistent browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Apply basic styles to the body */
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  /* Style the header */
  header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  /* Style the form container */
  form {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border: 2px solid #3498db;
    border-radius: 15px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  /* Style the question containers */
  .question {
    margin-bottom: 20px;
  }
  
  /* Style labels */
  label {
    display: block;
    color: #555;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  /* Style text inputs */
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style textareas */
  textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style select elements */
  select {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  select option:first-child{
    color: #999;
  }
  
  /* Style number inputs */
  input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }

  .question-div {
    display: block;
    width:fit-content;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: whitesmoke;
    background-color: grey;
  }
  
  /* Style the submit button */
  button[type="submit"] {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  button[type="submit"]:hover {
    background-color: #207bbf;
  }
  
